.kaufman {
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  padding: 90px 0 90px;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table_theme_dark {
}

.table__heading_theme_dark {
  color: white;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin: 80px 0 0;
}

.table__text_theme_dark {
  margin: 20px 0 0;
}
/* треугольник на фоне блока кауфмена */

.kaufman__triangle {
  background-image: url(/images/kaufman-triangle.svg);
  position: absolute;
  width: 877px;
  height: 877px;
  background-size: 877px 877px;
  top: 0px;
  right: -210px;
  z-index: -1;
}
